<ion-modal-view>
            <ion-header-bar>
                <h1 class="title">Choose an Actions</h1>
            </ion-header-bar>
        <ion-content>
                <span class="fading-border"></span>
                <div class="list">
                        <div class="item">
                                <button id="picCamera" class="ion-camera" data-pack="default" data-tags="photo" data-ng-click="addImage($event)">Camera</button>
                            </div>
                        <div class="item">
                                <button id="picImage" class="ion-images" data-pack="default" data-tags="photo" data-ng-click="addImage($event)">Gallery</button>
                            </div>
                    </div>
            </ion-content>
    </ion-modal-view>