<ion-view>
    <header class="bar logo-header">
        <img src="images/readypoint-logo.svg" alt="readypoint">
    </header>
    <ion-content class="v-align">        
        <div>
            <div class="container text-center">
                <!-- refer here for spinners: http://ionicframework.com/docs/api/directive/ionSpinner/ -->
                <p class="spinner"><ion-spinner icon="{{spinner}}"></ion-spinner></p>
                <p>Please wait while loading your data...</p>
            </div>
        </div>
    </ion-content>
    <footer class="bar bar-footer">
        <div class="title">Copyright © 2015 ReadyPoint Health, Inc. All rights reserved.</div>
    </footer>
</ion-view>